.header {
  padding: 0;
  color: #fff;
  padding-left: 0;
  padding-right: 0;
}

.header .container {
  margin-right: 0;

  margin-left: 0;
}

.header nav {
  position: relative;
  background-color: rgba(62, 191, 255, 255);
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  z-index: 2;

  margin-left: 0;
  margin-right: 0;
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__menu span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: black;
  transition: all 300ms ease-in-out;
  transform-origin: 1.3px 1px;
}

.header__menu span:not(:last-child) {
  margin-bottom: 5px;
}

.header__links a {
  position: relative;
  font-size: var(--font_sm);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  transition: color 300ms ease-in-out;
}

.header__links :not(:last-child) {
  margin-right: 32px;
}

.header__links a:hover {
  color: var(--darkblue);
}

.header.open .header__menu span:first-child {
  transform: rotate(45deg);
}

.header.open .header__menu span:nth-child(2) {
  opacity: 0;
}

.header.open .header__menu span:last-child {
  transform: rotate(-45deg);
}

/* visibility */

@media (max-width: 64em) {
  /* hide for tablet and mobile */
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  /* hide for desktop viewport width */
  .hide-for-desktop {
    display: none;
  }
}

.header__toggle {
  position: absolute;
  background-color: rgb(206, 77, 77);
  width: calc(100% - 3rem);
  background-color: white;
  padding: 1.625rem 0;
  margin: 1.5rem;
  margin-top: 1.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.header__toggle a {
  display: flex;
  flex-direction: column;
  padding: 0.625rem 5rem;
  margin-bottom: 1.625rem;
  color: var(--Darkgrayishblue);
  text-align: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  transition: color 300ms ease-in-out;
}

.header__toggle a:last-child {
  margin: 0 1.5rem 0;
  padding: 1rem 2.5rem;
}

.header__toggle a:last-child {
  border-radius: 100px;
  background-color: var(--Yellow);
  color: var(--Verydarkdesaturatedblue);
  font-weight: 600;
  font-family: "Barlow", sans-serif;
}

.header__toggle a:hover {
  color: black;
}

.header__links a:hover {
  color: black;
}

@media (min-width: 64em) {
  .header__links a {
    font-size: 0.85rem;
    font-weight: 500;
  }

  .header__links a:hover {
    color: black;
  }

  .header__links a:last-child {
    margin: 0 0.5rem 0 0.5rem;
    text-align: center;
    padding: 1rem;
  }
  .header__links a:last-child {
    border-radius: 100px;
    background-color: white;
    color: var(--Verydarkdesaturatedblue);
    font-weight: 700;
    font-family: "Barlow", sans-serif;
    padding: 0.9rem 2rem;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
  }
  .header__links a:hover:last-child {
    background-color: #d0f0ff77;
    color: white;
  }
}
